@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
*{
    
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Fira Sans' , sans-serif, Helvetica, Arial ;
    display: flex;
    font-size: 16px;
    height: 100vh;
    justify-content: center;
    background-color: rgb(27, 27, 27);
}

.mainContainer
{
    display: flex;
    width: 65%;
}

.rightContainer > div{
   flex:1;
}
.rightContainer
{
    display:flex;
    flex-direction: column;
    flex:2;
}
.imgContainer
{
    min-width: 300px;
    position: relative;
    display: flex;
    flex:1 0 7%;
}
img
{

    height: auto;
    width: 100%;
}
.logoContainer img
{
    height: auto;
    width: auto;
}
a, a:visited{
 
    color: #d8d8d8;
}

.logoContainer
{
    font-size: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    background-color: rgba(43, 43, 43,60%);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.imgContainer p
{
    font-size: 0.9rem;
    padding: 2px;
    background-color: rgba(43, 43, 43, 70%);
    color: rgb(206, 206, 206);
    position: absolute;
    left:0;
    right: 0;
    text-align: center;
    bottom: 1%;
}

.logoContainer p
{
    background-color: rgba(43, 43, 43, 0%);
}
.formSection
{
    overflow: auto;
    position: relative;
    height: fit-content;
    background-color: white;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4)  ; 
}

.sectionOne, .sectionThree
{
    background-color: rgb(235, 235, 235);   

}

.sectionOne
{
    align-items: flex-end; 
    display: flex;
}

.sectionThree div
{
    padding-top: 20px;;
}
.sectionThree a
{
    color: rgb(21, 124, 35);
    font-weight: 700;
}

input[type="submit"]
{
    border: none;
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
    background-color: rgb(50,85,36);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
    width: 200px;
}

.rightContainer > div{
    padding-left: 40px;
}

form{

    display: flex;
    flex-wrap: wrap;
    padding-right: 200px;
    justify-content: space-between;
    align-items: flex-end;
    height: 70%;
}
.formSection h2
{
    padding-top:20px;
}
.imgContainer h2
{
    font-family: 'Handlee', cursive;

}
label, input
{
    display: block;
    font-family: inherit;
    font-size: 100%;
}

label
{
    display:inline-block;
}

.heroText
{
    font-size: 1.1em;
    width: 90%;
    height: 150px;
 
}

label input:focus{
    outline-color:#4284c2;
}

.heroText h3:last-child
{
    margin-top: 30px;

}

label input
{
    border:1px solid rgba(128, 128, 128, 0.25);
    border-radius: 5px;
    width: 240px;
    height:30px;
}

label input:invalid
{
    outline-color: red;
}

.invalid
{
    border:2px solid red;
}

#validationMessages
{
    display: flex;
    align-items: center;
    gap:45px;
}

#validationMessages p
{
    padding:10px 0px 0px 0px;
    text-align: left;
    font-size: 0.75rem;
    min-width: 250px;
}