@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    display: flex;
    font-size: 16px;
    height: 100vh;
    justify-content: center;
    background-color: rgb(27, 27, 27);
}

.mainContainer
{
    display: flex;
    width: 65%;
}

.rightContainer > div{
    height: 33.33%;
    border:red solid 1px;
}
.rightContainer
{
    flex:2;
}
.imgContainer
{
    position: relative;
    display: flex;
    flex:1 0 7%;
}
img
{

    height: auto;
    width: 100%;
}

a, a:visited{
 
    color: #d8d8d8;
}

.logoContainer
{
    font-size: 2em;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    background-color: rgba(43, 43, 43,60%);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.imgContainer p
{
    font-size: 0.9em;
    padding: 2px;
    background-color: rgba(43, 43, 43, 70%);
    color: rgb(206, 206, 206);
    position: absolute;
    left:0;
    right: 0;
    text-align: center;
    bottom: 1%;
}
.formSection
{
    background-color: white;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2)  ; 
}

.rightContainer:last-child, .rightContainer:first-child
{
    background-color: rgb(235, 235, 235);
}

.rightContainer > div{
    padding-left: 40px;
}

form{
height: 100%;
}

label, input
{
    display: block;
}

