@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    display: flex;
    font-size: 16px;
    height: 100vh;
    justify-content: center;
    background-color: rgb(27, 27, 27);
}

.mainContainer
{
    display: flex;
    width: 65%;
}

.rightContainer > div{
    height: 33.33%;
}
.rightContainer
{
    flex:2;
}
.imgContainer
{
    position: relative;
    display: flex;
    flex:1 0 7%;
}
img
{

    height: auto;
    width: 100%;
}

a, a:visited{
 
    color: #d8d8d8;
}

.logoContainer
{
    font-size: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    background-color: rgba(43, 43, 43,60%);
    color: rgb(255, 255, 255);
    padding: 20px;
}

.imgContainer p
{
    font-size: 0.9rem;
    padding: 2px;
    background-color: rgba(43, 43, 43, 70%);
    color: rgb(206, 206, 206);
    position: absolute;
    left:0;
    right: 0;
    text-align: center;
    bottom: 1%;
}
.formSection
{
    position: relative;
    background-color: white;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4)  ; 
}

.sectionOne, .sectionThree
{
    background-color: rgb(235, 235, 235);   

}

.sectionOne
{
    align-items: flex-end; 
    display: flex;
}

.sectionThree div
{
    padding-top: 20px;;
}

input[type="submit"]
{
    border: none;
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
    background-color: rgb(50,85,36);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.rightContainer > div{
    padding-left: 40px;
}

form{
    display: flex;
    flex-wrap: wrap;
    padding-right: 270px;
    justify-content: space-between;
    align-items: flex-end;
    height: 70%;
}
.formSection h2
{
    padding-top:20px;
}
label, input
{
    width: 200px;
    display: block;
}

.heroText
{
    font-size: 1.1em;
    width: 90%;
    height: 150px;
 
}

.heroText h3:last-child
{
    margin-top: 30px;

}

